@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');
*{
	margin: 0px auto;
	padding: 0;
}
body{
    background: #d3d4d6;
}
.header{
    width: 100%;
    height: 150px;
    min-width: 580px;
    background: black;
    background-image: url(media/2.png);
    background-repeat: no-repeat;
    background-position: center;
    z-index: 10;
}

.container{
    width: 100%;
    max-width: 1920px;
    min-width: 580px;
}
nav{
    background: black;
    color: #fff;
    text-align: center;
    margin-top: -50px;
    min-width: 580px;
}
nav > ul {
   padding: 0;
}
nav li{
    display: inline-block;
    vertical-align: top;
    float: left;
}
nav a{
  font-family: 'Roboto Slab', serif; /*меняем шрифт*/
  font-size: 36px;
  text-decoration: none; /*убираем подчеркивание текста ссылок*/
  text-align: center;
  background-color: black; /*добавляем фон к пункту меню*/
  color:#ca8d60; /*меняем цвет ссылок*/
  display: inline-block; 
  line-height: 50px;
  width: 100%;
  min-width: 274.28px;
  -moz-transition: all 0.3s 0.01s ease; /*делаем плавный переход*/
  -o-transition: all 0.3s 0.01s ease;
  -webkit-transition: all 0.3s 0.01s ease;
}
nav a:hover{
    background:#636363;
}

input[type="checkbox"] {
    display: none;
}
nav label {  
    display: none;
    padding: 15px;
    cursor: pointer;
    transition: 0.3s;
    font-family: 'Roboto Slab', serif; /*меняем шрифт*/
    font-size: 36px;
    text-decoration: none; /*убираем подчеркивание текста ссылок*/
    text-align: center;
}
nav label:hover{
    background: #636363;
}

@media screen and (max-width: 1919px) {
    
	nav {
        display: inline-block;
	    text-align: center;
        float: left;
        margin-top: -50px;
        background: black;
        width: 100%;
	}
    nav label{ /* ramka */
        position: relative;
        display: block;
        padding: -15px;
        text-align: center;
        color:#ca8d60;
        z-index: 5;
    }
    nav label:hover{
        position: relative;
        display: block;
        text-align: center;
        background: #636363;
        z-index: 5;
    }
    
    nav > ul {
        display: none; /*width: 100px;*/
		left: 0;
        float: none;
    }
	nav li{
    position: relative;
    display: block;
    vertical-align: top;
    float: none; 
    z-index: 5;
}
    nav a{
    width: 100%;
}
    nav a:hover{
    background:#636363;
    width: 100%;
}
    input[type="checkbox"]:checked ~ label + ul {
        display: block;
        
    }
    
}
.block{
    color: black;
    width: 1920px;
    z-index: 3;
} 
video#video{
    right: 0;
    left: 0;
    margin: auto;
    width: 1920px;
    overflow-x: hidden;
    position: fixed;
    z-index: -5;
}

 @media screen and (max-width:1280px){
video#video{
    margin-left: -25%;
    max-width: 1920px;
}
}
@media screen and (max-width:960px){
video#video{
    margin-left: -50%;
    max-width: 1920px;
}
}
@media screen and (max-width:720px){
video#video{
    margin-left: -75%;
    max-width: 1920px;
}
}
@media screen and (max-width:400px){
video#video{
    margin-left: -100%;
    max-width: 1920px;
}
}
.text{
    font-family: 'Roboto Slab', serif;
    position: fixed;
    text-align: center;
    margin-top: 150px;
    height: 100%;
    width: 100%;
    max-height: 930px;
    z-index: 5;
    color: white;
    font-size: 36px;
    color: transparent;
    transition: all 0.5s;
}
.text p {
    margin-top: 240px;
    margin-bottom: -240px;
    opacity: 1;
}
.text:hover{
    background:rgba(0,0,0,0.2);
    color: white;
    text-shadow: 1px 1px 2px black;
    cursor: default;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.block {
    margin-top: 150px;
    width: 100%;;
    height: 100%;
    max-height: 930px;
    background-color: black;
    position: fixed;
    z-index: 1;
    opacity: 0.6;
}
 @media screen and (max-width:1280px){
.text p {
    margin-top: 140px;
    margin-bottom: -140px;
}
}
 @media screen and (max-width:700px){
.text p {
    font-size: 25px;
    margin-top: 40px;
    margin-bottom: -40px;
}
}
 @media screen and (max-width:500px){
.text p {
    font-size: 25px;
    margin-top: 70px;
    margin-bottom: -70px;
}
}
 @media screen and (max-width:350px){
.text p {
    font-size: 20px;
    margin-top: 70px;
    margin-bottom: -70px;
}
}