@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');
*{
	margin: 0px auto;
	padding: 0;
}
body{
    margin: 0 auto;
    background: #d3d4d6;
    width: 100%;
    min-width: 580px;
}
.header{
    width: 100%;
    height: 150px;
    min-width: 580px;
    background: black;
    background-image: url(media/2.png);
    background-repeat: no-repeat;
    background-position: center;
    z-index: 10;
}

.container{
    width: 100%;
    max-width: 1920px;
    min-width: 580px;
}
nav{
    background: black;
    color: #fff;
    text-align: center;
    margin-top: -50px;
    min-width: 580px;
}
nav > ul {
   padding: 0;
}
nav li{
    display: inline-block;
    vertical-align: top;
    float: left;
}
nav a{
  font-family: 'Roboto Slab', serif; /*меняем шрифт*/
  font-size: 36px;
  text-decoration: none; /*убираем подчеркивание текста ссылок*/
  text-align: center;
  background-color: black; /*добавляем фон к пункту меню*/
  color:#ca8d60; /*меняем цвет ссылок*/
  display: inline-block; 
  line-height: 50px;
  width: 100%;
  min-width: 274.28px;
  -moz-transition: all 0.3s 0.01s ease; /*делаем плавный переход*/
  -o-transition: all 0.3s 0.01s ease;
  -webkit-transition: all 0.3s 0.01s ease;
}
nav a:hover{
    background:#636363;
}

input[type="checkbox"] {
    display: none;
}
nav label {    
    display: none;
    padding: 15px;
    cursor: pointer;
    transition: 0.3s;
    font-family: 'Roboto Slab', serif; /*меняем шрифт*/
    font-size: 36px;
    text-decoration: none; /*убираем подчеркивание текста ссылок*/
    text-align: center;
}
nav label:hover{
    background: #636363;
}

@media screen and (max-width: 1919px) {
    
	nav {
        display: inline-block;
	    text-align: center;
        float: left;
        margin-top: -50px;
        background: black;
        width: 100%;
	}
    nav label{ /* ramka */
        position: relative;
        display: block;
        padding: -15px;
        text-align: center;
        color:#ca8d60;
        z-index: 5;
    }
    nav label:hover{
        position: relative;
        display: block;
        text-align: center;
        background: #636363;
        z-index: 5;
    }
    
    nav > ul {
        display: none; /*width: 100px;*/
		left: 0;
        float: none;
    }
	nav li{
    position: relative;
    display: block;
    vertical-align: top;
    float: none; 
    z-index: 5;
}
    nav a{
    width: 100%;
}
    nav a:hover{
    background:#636363;
    width: 100%;
}
    input[type="checkbox"]:checked ~ label + ul {
        display: block;
        
    }
    
}

form#contact {
    margin: 50px;
	border:3px solid #ca8d60;
	padding:10px;
	background: #636363;
	border-radius:5px;
}
#contact label {
	font-size: 14px;
}
#contact input:required:valid {
	box-shadow: 0 0 3px #BCEF89;
	border-color: #ca8d60!important;
	background: #fff url(media/valid.png) no-repeat 98% center;
}
#contact textarea:required:valid {
	box-shadow: 0 0 3px #BCEF89;
	border-color: #ca8d60!important;
}
#contact input:focus:invalid {
	box-shadow: 0 0 3px #FFDF97;
	border-color: red!important;
	background: #fff url(media/invalid.png) no-repeat 98% center;
}
#contact textarea:focus:invalid {
	box-shadow: 0 0 3px #FFDF97;
	border-color: red!important;
}
.err {
	border: 1px solid #ff8c00;
	padding: 10px;
	background: #FFDF97;
	text-align: left;
	border-radius: 3px;
}
.ok {
	border: 1px #BCEF89 solid;
	margin-bottom: 15px;
	padding: 10px;
	background: #f5f9fd;
	text-align: center;
	border-radius: 3px;
}
#author, #email, #url {
    font-family: 'Roboto Slab', serif;
	width: 30%;
    margin: 5px;
	padding: 5px;
	border-radius: 5px;
	border: 1px solid #e5e5e5;
}
#comment {
    font-family: 'Roboto Slab', serif;
	width: 80%;
	padding: 5px;
    margin: 5px;
	border-radius: 5px;
	border: 1px solid #e5e5e5;
	box-sizing: border-box;
}
#submit {
    font-family: 'Roboto Slab', serif;
	font-weight: 400;
	background: black;
	font-size: 15px;
	color: #ca8d60;
	padding: 10px 50px;
    margin: 5px;
	border: none;
    border-radius: 5px;
	cursor: pointer;
    
}
.h3 {
    font-family: 'Roboto Slab', serif;
    font-size: 1.75rem;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
    margin-top: 100px;
    text-align: center;
}
#submit:hover {
    background: #e5e5e5; 
    -moz-transition: all 0.3s 0.01s ease; /*делаем плавный переход*/
    -o-transition: all 0.3s 0.01s ease;
    -webkit-transition: all 0.3s 0.01s ease;}
.social-icons {
  display: flex;
  justify-content: center;
  list-style: none;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-left: 0;
}
.social-icons>li {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}
.social-icons a {
  position: relative;
  background-color: #eee;
  display: block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: background-color .3s ease-in-out;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: .25rem;
}
.social-icons a:hover {
  background-color: #e0e0e0;
}
.social-icons a::before {
  content: "";
  position: absolute;
  width: 2.2rem;
  height: 2.2rem;
  left: .65rem;
  top: .65rem;
  background: transparent no-repeat center center;
  background-size: 100% 100%;
}

.social-icons .social-icon-fb::before {
  background-image: url(media/Inst.png)
}
.social-icons .social-icon-vk::before {
  background-image: url(media/VK.png)
}
.social-icons .social-icon-telegram::before {
  background-image: url(media/Telegram.png)
}
.social-icons .social-icon-youtube::before {
  background-image: url(media/YT.png)
}